/*Sheet Hiding Rules*/
 .hidden{display:none}
 input[type=checkbox].hider:not(:checked)+div,
 input[type=checkbox].hider:not(:checked)+span,
 input[type=checkbox].hider:not(:checked)+label,
 input[type=checkbox].hider:not(:checked)+button,
 input[type=hidden].hider[value=""]+div,
 input[type=hidden].hider[value=""]+span,
 input[type=hidden].hider[value=""]+label,
 input[type=hidden].hider[value=""]+button,
 input[type=hidden].hider-numeric[value="0"]+div,
 input[type=hidden].hider-numeric[value="0"]+span,
 input[type=hidden].hider-numeric[value="0"]+label,
 input[type=hidden].hider-numeric[value="0"]+button{display:none}
 div{box-sizing:border-box}

/*Tab Selector Rules*/
 textarea[readonly="readonly"]{cursor:default}
 .tab-is-main:checked+.title{max-width:1050px}
 .title{display:flex;align-items:center;font-weight:bold;position:relative;margin-bottom:5px}
 .title .tab-selector{margin:0 5px 0 0;width:auto;cursor:pointer;font-size:1.1em}
 .title .tab-selector input{opacity:0;position:absolute}
 .title .tab-selector input:checked+span{color:#910318}
 .title .tab-selector>span{display:inline-block;border:2px solid black;padding:2px 10px;border-radius:5px}
 .title .settings-checkbox{width:18px;height:18px;font-size:18px;cursor:pointer;font-family:pictos}
 .title .settings-checkbox input{position:absolute;opacity:0}
 .title .settings-checkbox input+span{opacity:0.3}
 .title .settings-checkbox input:checked+span{opacity:1}
 .tab:not(:checked)+div{display:none}
 label.edit-button{font-family:pictos;width:auto;cursor:pointer;position:relative;z-index:2;margin:0 6px 0 auto;font-size:1.4em}
 label.edit-button input{opacity:0;position:absolute}
 label.edit-button input+span{opacity:0.3}
 label.edit-button input:checked+span{color:#910318;opacity:1}
 .pane{max-width:1050px;min-width:500px}
 .pane .lower{text-transform:lowercase}
 .pane .linebreak{white-space:pre-wrap}

/*Formatting Rules*/
.font-small {font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;padding:0 6px;font-size:12px;font-weight: bold}
.font-medium {font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;padding:0 6px;font-size:15px;font-weight: bold}
.font-large {font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;padding:0 6px;font-size:18px;font-weight: bold}
.font-name {font-family:"shadows-into-light",fantasy;padding:0 6px;font-size:26px}
.transparent {background:transparent;border:none}

/*General Information and Battlemech Page Defaults*/
/*.page-general {background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/MechWarrior%20Destiny/Assets/DestinyCharP1_800x1029.png);background-repeat:no-repeat;background-position:center center;background-size:cover;height:1029px;width:800px}*/
.page-general {background-image:url(https://i.imgur.com/g6bnqQr.png);background-repeat:no-repeat;background-position:center;background-size:cover;height:1029px;width:800px}

/*Vital Factors*/
    .container-vital-factors {position:relative;width:800px;height:265px}
		.field-name {position:absolute;width:347px;left:95px;top:35px}
		.field-faction {position:absolute;top:104px;left:102px;width:250px; text-align-last: left}
		.field-age {position:absolute;top:129px;left:72px;width:382px}
		.field-rank {position:absolute;top:147px;left:79px;width:373px}
        .field-experience-level {position:absolute;top:162px;left:163px;width:83px; text-align-last: left}
        .label-totalpoints {position:absolute;top:166px;left:245px; font-weight: bolder}
        .field-attr-total {position:absolute;width:46px !important;left:424px;top:166px;text-align: center;font-weight: bolder;color:#068B25}
		.field-skill-total {position:absolute;width:46px !important;left:513px;top:166px;text-align: center;font-weight: bolder;color:#068B25}
        .field-height {position:absolute;top:186px;left:168px;width:62px;text-align:right}
		.field-weight {position:absolute;top:186px;left:262px;width:65px;text-align:right}
		.field-xp {position:absolute;top:204px;left:64px;width:50px !important}
		.container-partial-plot {position: absolute;width: 32px;height: 32px;left: 389px;top: 185px}
			.partial-plot1 {position:absolute;top:7px;left:4px;width:14px}
			.partial-plot2 {position:absolute;top:7px;left:19px;width:14px}
			.partial-plot3 {position:absolute;top:21px;left:12px;width:14px}
        .label-full {position:absolute;top:186px;left:462px;width:30px;text-align:left; font-weight: bolder}
        .label-plot {position:absolute;top:200px;left:462px;width:30px;text-align:left; font-weight: bolder}
        .label-points {position:absolute;top:214px;left:462px;width:30px;text-align:right; font-weight: bolder}
        .field-full-plot {position:absolute;top:185px;left:492px;width:43px !important;color:#E14904}
        .label-edge {position:absolute;top:198px;left:530px;width:30px;text-align:left; font-weight: bolder}
        .label-points2 {position:absolute;top:213px;left:530px;width:30px;text-align:right; font-weight: bolder}
        .field-edge-points {position:absolute;top:185px;left:570px;width:43px !important;color:#B49806}
		.field-tag1 {position:absolute;top:239px;left:85px;width:129px;font-style: italic}
		.field-tag2 {position:absolute;top:239px;left:223px;width:129px;height:21px;font-style: italic}
		.field-tag3 {position:absolute;top:239px;left:360px;width:129px;height:21px;font-style: italic}
		.field-tag4 {position:absolute;top:239px;left:497px;width:129px;height:21px;font-style: italic}
		.field-tag5 {position:absolute;top:239px;left:635px;width:129px;height:21px;font-style: italic}
    /*Identity Text*/
    .container-identity {position:relative;width:800px;height:379px}
		.field-history {position:absolute;width:722px;height:141px;left:36px;top:30px; font-style: italic}
		.field-personality {position:absolute;width:722px;height:52px;left:36px;top:209px}
		.field-disposition {position:absolute;width:420px;height:71px;left:36px;top:298px}
    /*Battlemech Section*/
	.container-battlemech {position:relative;width:800px;height:385px}
        .container-mech-rowtop {position:relative;content:"";display:table;clear:both;height:180px;width:800px}
        .column-mech-top {float:left;height:180px}
            /*Mech Silhouette Top*/
			.container-mechchart-top {width:33%}
				.container-ra {position: absolute;width: 50px;height: 130px;left: 22px;top: 55px}
					.field-rightarm-armor{position: absolute;top: 23px;left: 13px;font-weight: bold;width: 48px !important;text-align: center}
					.field-rightarm-structure {position: absolute;top: 88px;left: 5px;font-weight: bold;width: 48px !important;text-align: center;color: red}
				.container-torso {position: absolute;width: 50px;height: 29px;left: 114px;top: 114px}
					.field-torso-armor{position: absolute;top: 1px;left: 7px;font-weight: bold;width: 48px !important;text-align: center}
					.field-torso-structure {position: absolute;top: 33px;left: 8px;font-weight: bold;width: 48px !important;text-align: center;color: red}
				.container-la {position: absolute;width: 50px;height: 130px;left: 202px;top: 55px}
					.field-leftarm-armor{position: absolute;top: 23px;left: 7px;font-weight: bold;width: 48px !important;text-align: center}
					.field-leftarm-structure {position: absolute;top: 88px;left: 15px;font-weight: bold;width: 48px !important;text-align: center;color: red}
				.container-head {position: absolute;width: 50px;height: 29px;left: 116px;top: 20px}
					.field-head-armor{position: absolute;top: 17px;left: 6px;font-weight: bold;width: 48px !important;text-align: center}
					.field-head-structure {position: absolute;top: 42px;left: 6px;font-weight: bold;width: 48px !important;text-align: center;color: red}
            /*Mech Details*/
            .container-mechhardware {width:67%}
                .label-armor-values {position: absolute;top: -4px;left: 475px;font-weight:bolder}
                .label-head {position: absolute;top: 15px;left: 450px;font-weight:bold}
                .field-head-armor-max {position: absolute;top: 12px;left: 492px;width: 38px !important;text-align-last: right;font-weight:bold}
                .label-head-slash {position: absolute;top: 15px;left: 514px;font-weight:bold}
                .field-head-structure-max {position: absolute;top: 12px;left: 516px;width: 38px !important;text-align-last: right;font-weight:bold}
                .label-torso {position: absolute;top: 15px;left: 550px;font-weight:bold}
                .field-torso-armor-max {position: absolute;top: 12px;left: 592px;width: 30px !important;text-align-last: right;font-weight:bold}
                .label-torso-slash {position: absolute;top: 15px;left: 614px;font-weight:bold}
                .field-torso-structure-max {position: absolute;top: 12px;left: 616px;width: 30px !important;text-align-last: right;font-weight:bold}
                .label-arms {position: absolute;top: 33px;left: 450px;font-weight:bold}
                .field-arm-armor-max {position: absolute;top: 30px;left: 492px;width: 30px !important;text-align-last: right;font-weight:bold}
                .label-arms-slash {position: absolute;top: 33px;left: 514px;font-weight:bold}
                .field-arm-structure-max {position: absolute;top: 30px;left: 516px;width: 30px !important;text-align-last: right;font-weight:bold}
                .label-legs {position: absolute;top: 33px;left: 552px;font-weight:bold}
                .field-leg-armor-max {position: absolute;top: 30px;left: 592px;width: 30px !important;text-align-last: right;font-weight:bold}
                .label-legs-slash {position: absolute;top: 33px;left: 614px;font-weight:bold}
                .field-leg-structure-max {position: absolute;top: 30px;left: 616px;width: 30px !important;text-align-last: right;font-weight:bold}
                .field-mechtype {position: absolute;top: 49px;left: 329px;width: 196px;font-weight:bold}
				.field-mechweight {position: absolute;top: 66px;left: 338px;width: 83px;height: 16px;text-align-last: left;font-weight:bold}
				.field-mechton {position: absolute;top: 82px;left: 354px;width: 50px !important}
				.field-mechmove {position: absolute;top: 97px;left: 367px;width: 40px !important}
				.field-mechheat {position: absolute;top: 112px;left: 398px;width: 25px}
                .label-mechheatbuildup {position: absolute;top: 112px;left: 430px;font-weight: bold}
                .field-mechheatbuildup {position: absolute;top: 112px;left: 469px;width: 35px !important}
                .field-mechequipment {position: absolute;top: 64px;left: 533px;width: 222px;height: 46px;padding-top: 3px; line-height: 94%}
				.field-mechtag1 {position: absolute;top: 131px;left: 316px;width: 220px;font-style: italic}
				.field-mechtag2 {position: absolute;top: 131px;left: 543px;width: 220px;font-style: italic}
				.field-mechtag3 {position: absolute;top: 153px;left: 282px;width: 154px;font-style: italic}
				.field-mechtag4 {position: absolute;top: 153px;left: 450px;width: 154px;font-style: italic}
				.field-mechtag5 {position: absolute;top: 153px;left: 610px;width: 154px;font-style: italic}

        .container-mech-rowbottom {position:relative;content:"";display:table;clear:both;height:192px;width:800px}
		.column-mech-bottom {float:left;height:192px}
		    /*Mech Silhouette Bottom*/
            .container-mechchart-bottom {width:30%}
				.container-rl {position: absolute;width: 70px;height: 150px;left: 50px;top: 12px}
					.field-rightleg-armor{position: absolute;top: 25px;left: 29px;font-weight: bold;width: 48px !important;text-align: center}
					.field-rightleg-structure {position: absolute;top: 92px;left: 13px;font-weight: bold;width: 48px !important;text-align: center;color: red}
				.container-ll {position: absolute;width: 70px;height: 150px;left: 155px;top: 12px}
					.field-leftleg-armor{position: absolute;top: 25px;left: 8px;font-weight: bold;width: 48px !important;text-align: center}
    				.field-leftleg-structure {position: absolute;top: 92px;left: 22px;font-weight: bold;width: 48px !important;text-align: center;color: red}
            /*Mech Weapons*/
            .container-mechguns {width:70%}
                /*Mech Weapon 1*/
				.field-mechgun1 {position:absolute;top:40px;left: 311px;width: 103px;height: 16px;text-align-last:right}
				.field-mechgun1-damage {position: absolute;top: 40px;left: 409px;width: 65px;height: 16px;font-weight: bold;text-align-last:right}
				.field-mechgun1-type {position: absolute;top: 39px;left: 484px;width: 27px;height: 16px;font-weight: bold}
				.field-mechgun1-heat {position: absolute;top: 40px;left: 523px;width: 10px;height: 16px;text-align:center;font-weight: bold}
				.field-mechgun1-location {position: absolute;top: 39px;left: 548px;width: 47px;height: 16px;text-align:center;font-weight: bold}
				.field-mechgun1-pointblank {position: absolute;top: 40px;left: 605px;width: 10px;height: 16px;text-align:center;font-weight: bold}
                .field-mechgun1-short {position: absolute;top: 39px;left: 654px;width: 31px;height: 16px;text-align:center;font-weight: bold}
				.field-mechgun1-medium {position: absolute;top: 39px;left: 694px;width: 31px;height: 16px;text-align:center;font-weight: bold}
				.field-mechgun1-long {position: absolute;top: 39px;left: 732px;width: 31px;height: 16px;text-align:center;font-weight: bold}
                /*Mech Weapon 2*/
				.field-mechgun2 {position:absolute;top: 61px;left: 259px;width: 143px;text-align: right}
                .field-mechgun2-damage {position: absolute;top: 61px;left: 403px;width: 70px;height: 16px;text-align:center;font-weight: bold; text-transform: uppercase}
				.field-mechgun2-type {position: absolute;top: 61px;left: 470px;width: 59px;height: 16px;font-weight: bold;text-align-last: center}
				.field-mechgun2-heat {position: absolute;top: 61px;left: 523px;width: 35px !important;text-align:center}
				.field-mechgun2-location {position: absolute;top: 62px;left: 543px;width: 71px;height: 16px;font-size:10px;font-weight: bold;text-align-last:center}
				.field-mechgun2-pointblank {position: absolute;top: 61px;left: 601px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun2-short {position: absolute;top: 61px;left: 649px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun2-medium {position: absolute;top: 61px;left: 689px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun2-long {position: absolute;top: 61px;left: 727px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
                /*Mech Weapon 3*/
				.field-mechgun3 {position:absolute;top: 83px;left: 259px;width: 143px;text-align: right}
                .field-mechgun3-damage {position: absolute;top: 83px;left: 403px;width: 70px;height: 16px;text-align:center;font-weight: bold; text-transform: uppercase}
				.field-mechgun3-type {position: absolute;top: 83px;left: 470px;width: 59px;height: 16px;font-weight: bold;text-align-last: center}
				.field-mechgun3-heat {position: absolute;top: 83px;left: 520px;width: 35px !important;text-align:center}
				.field-mechgun3-location {position: absolute;top: 83px;left: 540px;width: 71px;height: 16px;font-size:10px;font-weight: bold;text-align-last:center}
				.field-mechgun3-pointblank {position: absolute;top: 82px;left: 600px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun3-short {position: absolute;top: 82px;left: 649px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun3-medium {position: absolute;top: 82px;left: 689px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun3-long {position: absolute;top: 82px;left: 727px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
			    /*Mech Weapon 4*/
				.field-mechgun4 {position:absolute;top: 102px;left: 259px;width: 143px;text-align: right}
                .field-mechgun4-damage {position: absolute;top: 102px;left: 403px;width: 70px;height: 16px;text-align:center;font-weight: bold; text-transform: uppercase}
				.field-mechgun4-type {position: absolute;top: 102px;left: 470px;width: 59px;height: 16px;font-weight: bold;text-align-last: center}
				.field-mechgun4-heat {position: absolute;top: 102px;left: 520px;width: 35px !important;text-align:center}
				.field-mechgun4-location {position: absolute;top: 104px;left: 540px;width: 71px;height: 16px;font-size:10px;font-weight: bold;text-align-last:center}
				.field-mechgun4-pointblank {position: absolute;top: 103px;left: 600px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun4-short {position: absolute;top: 103px;left: 649px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun4-medium {position: absolute;top: 103px;left: 689px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun4-long {position: absolute;top: 103px;left: 727px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
			    /*Mech Weapon 5*/
				.field-mechgun5 {position:absolute;top: 125px;left: 259px;width: 143px;text-align: right}
                .field-mechgun5-damage {position: absolute;top: 125px;left: 403px;width: 70px;height: 16px;text-align:center;font-weight: bold; text-transform: uppercase}
				.field-mechgun5-type {position: absolute;top: 125px;left: 470px;width: 59px;height: 16px;font-weight: bold;text-align-last: center}
				.field-mechgun5-heat {position: absolute;top: 125px;left: 520px;width: 35px !important;text-align:center}
				.field-mechgun5-location {position: absolute;top: 126px;left: 540px;width: 71px;height: 16px;font-size:10px;font-weight: bold;text-align-last:center}
				.field-mechgun5-pointblank {position: absolute;top: 125px;left: 600px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun5-short {position: absolute;top: 125px;left: 649px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun5-medium {position: absolute;top: 125px;left: 689px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}
				.field-mechgun5-long {position: absolute;top: 125px;left: 727px;width: 54px;height: 16px;font-weight: bold;text-align-last:center}

/*Stats, Skills, and Equipment Page Defaults*/
/*.page-stats {background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/MechWarrior%20Destiny/Assets/DestinyCharP2_800x1029.png);background-repeat:no-repeat;background-position:center center;background-size:cover;height:1029px;width:800px}*/
.page-stats {background-image:url(https://i.imgur.com/cmUPrmp.png);background-repeat:no-repeat;background-position:center center;background-size:cover;height:1029px;width:800px}

    /*Character Attributes*/
    .container-attributes {position:relative;width:800px;height:185px}
			.field-name {position:absolute;width:347px;height:26px;left:102px;top:41px}
			.field-str {position:absolute;width:50px !important;left:84px;top:127px;font-size: 39px;font-weight: bold;color: #8a285a}
			.field-rfl {position:absolute;width:50px !important;left:208px;top:127px;font-size: 39px;font-weight: bold;color: #8a285a}
			.field-int {position:absolute;width:50px !important;left:333px;top:127px;font-size: 39px;font-weight: bold;color: #8a285a}
			.field-wil {position:absolute;width:50px !important;left:457px;top:127px;font-size: 39px;font-weight: bold;color: #8a285a}
			.field-cha {position:absolute;width:50px !important;left:581px;top:127px;font-size: 39px;font-weight: bold;color: #8a285a}
			.field-edg {position:absolute;width:50px !important;left:706px;top:127px;font-size: 39px;font-weight: bold;color: #8a285a}
    /*Skills Section*/
	.container-details {position:relative;width:800px;height:520px}
			/*Skills Name*/
			.field-skill1 {position:absolute;width:200px;left:58px;top:49px;text-align: right;font-weight: bold}
			.field-skill2 {position:absolute;width:200px;left:58px;top:69px;text-align: right;font-weight: bold}
			.field-skill3 {position:absolute;width:200px;left:58px;top:89px;text-align: right;font-weight: bold}
			.field-skill4 {position:absolute;width:200px;left:58px;top:109px;text-align: right;font-weight: bold}
			.field-skill5 {position:absolute;width:200px;left:58px;top:129px;text-align: right;font-weight: bold}
			.field-skill6 {position:absolute;width:200px;left:58px;top:149px;text-align: right;font-weight: bold}
			.field-skill7 {position:absolute;width:200px;left:58px;top:169px;text-align: right;font-weight: bold}
			.field-skill8 {position:absolute;width:200px;left:58px;top:189px;text-align: right;font-weight: bold}
			.field-skill9 {position:absolute;width:200px;left:58px;top:209px;text-align: right;font-weight: bold}
			/*Skills Rating*/
            .field-skill-rating1 {position:absolute;width:50px !important;left:272px;top:46px;text-align: center;font-weight: bold}
			.field-skill-rating2 {position:absolute;width:50px !important;left:272px;top:66px;text-align: center;font-weight: bold}
			.field-skill-rating3 {position:absolute;width:50px !important;left:272px;top:86px;text-align: center;font-weight: bold}
			.field-skill-rating4 {position:absolute;width:50px !important;left:272px;top:106px;text-align: center;font-weight: bold}
			.field-skill-rating5 {position:absolute;width:50px !important;left:272px;top:126px;text-align: center;font-weight: bold}
			.field-skill-rating6 {position:absolute;width:50px !important;left:272px;top:146px;text-align: center;font-weight: bold}
			.field-skill-rating7 {position:absolute;width:50px !important;left:272px;top:166px;text-align: center;font-weight: bold}
			.field-skill-rating8 {position:absolute;width:50px !important;left:272px;top:186px;text-align: center;font-weight: bold}
			.field-skill-rating9 {position:absolute;width:50px !important;left:272px;top:206px;text-align: center;font-weight: bold}
			/*Skills Attribute*/
            .field-skill-attribute1 {position:absolute;width:63px !important;left:314px;top:44px;text-align: center;font-weight: bold}
			.field-skill-attribute2 {position:absolute;width:63px !important;left:314px;top:64px;text-align: center;font-weight: bold}
			.field-skill-attribute3 {position:absolute;width:63px !important;left:314px;top:84px;text-align: center;font-weight: bold}
			.field-skill-attribute4 {position:absolute;width:63px !important;left:314px;top:104px;text-align: center;font-weight: bold}
			.field-skill-attribute5 {position:absolute;width:63px !important;left:314px;top:124px;text-align: center;font-weight: bold}
			.field-skill-attribute6 {position:absolute;width:63px !important;left:314px;top:144px;text-align: center;font-weight: bold}
			.field-skill-attribute7 {position:absolute;width:63px !important;left:314px;top:164px;text-align: center;font-weight: bold}
			.field-skill-attribute8 {position:absolute;width:63px !important;left:314px;top:184px;text-align: center;font-weight: bold}
			.field-skill-attribute9 {position:absolute;width:63px !important;left:314px;top:204px;text-align: center;font-weight: bold}
			/*Skills Bonus*/
            .field-skill-bonus1 {position:absolute;width:50px !important;left:362px;top:46px;text-align: center;font-weight: bold;color: navy}
			.field-skill-bonus2 {position:absolute;width:50px !important;left:362px;top:66px;text-align: center;font-weight: bold;color: navy}
			.field-skill-bonus3 {position:absolute;width:50px !important;left:362px;top:86px;text-align: center;font-weight: bold;color: navy}
			.field-skill-bonus4 {position:absolute;width:50px !important;left:362px;top:106px;text-align: center;font-weight: bold;color: navy}
			.field-skill-bonus5 {position:absolute;width:50px !important;left:362px;top:126px;text-align: center;font-weight: bold;color: navy}
			.field-skill-bonus6 {position:absolute;width:50px !important;left:362px;top:146px;text-align: center;font-weight: bold;color: navy}
			.field-skill-bonus7 {position:absolute;width:50px !important;left:362px;top:166px;text-align: center;font-weight: bold;color: navy}
			.field-skill-bonus8 {position:absolute;width:50px !important;left:362px;top:186px;text-align: center;font-weight: bold;color: navy}
			.field-skill-bonus9 {position:absolute;width:50px !important;left:362px;top:206px;text-align: center;font-weight: bold;color: navy}
			/*Life Modules*/
			.field-life-faction {position:absolute;width:271px;left:506px;top:35px;font-weight: bold}
			.field-life-childhood {position:absolute;width:240px;left:530px;top:57px;font-weight: bold}
			.field-life-education {position:absolute;width:185px;left:585px;top:80px;font-weight: bold}
			.field-life-real {position:absolute;width:262px;left:504px;top:104px;font-weight: bold}
			.field-inventory {position: absolute;top: 167px;left: 428px;width: 336px;height: 77px;padding-top: 3px; line-height: 90%}
			/*Traits*/
			.field-postrait1 {position:absolute;width:620px;left:150px;top:266px;font-weight: bold}
			.field-postrait2 {position:absolute;width:620px;left:150px;top:287px;font-weight: bold}
			.field-negtrait1 {position:absolute;width:620px;left:160px;top:308px;font-weight: bold}
			.field-negtrait2 {position:absolute;width:620px;left:160px;top:330px;font-weight: bold}
			/*cues*/
			.field-cues1 {position: absolute;top: 379px;left: 43px;width: 225px;height: 133px;font-size: 16px;padding-top: 3px; line-height: 119%}
			.field-cues2 {position: absolute;top: 379px;left: 284px;width: 225px;height: 135px;font-size: 16px;padding-top: 3px; line-height: 119%}
			.field-cues3 {position: absolute;top: 379px;left: 526px;width: 225px;height: 135px;font-size: 16px;padding-top: 3px; line-height: 119%}
    /*Personal Weaponry*/
	.container-combat {position:relative;width:800px;height:324px}
		    /*Weapon Name*/
			.field-weapon2 {position:absolute;width:139px;left:71px;top:64px}
			.field-weapon3 {position:absolute;width:139px;left:71px;top:81px}
			.field-weapon4 {position:absolute;width:139px;left:71px;top:98px}
			.field-weapon5 {position:absolute;width:139px;left:71px;top:117px}
			.field-weapon6 {position:absolute;width:139px;left:71px;top:136px}
			.field-weapon7 {position:absolute;width:139px;left:71px;top:154px}
            /*Weapon Damage*/
			.field-weapon1-damage {position: absolute;top: 42px;left: 215px;width: 54px;text-align:center}
			.field-weapon2-damage {position: absolute;top: 61px;left: 214px;width: 54px;text-align:center}
			.field-weapon3-damage {position: absolute;top: 79px;left: 214px;width: 54px;text-align:center}
			.field-weapon4-damage {position: absolute;top: 97px;left: 214px;width: 54px;text-align:center}
			.field-weapon5-damage {position: absolute;top: 116px;left: 214px;width: 54px;text-align:center}
			.field-weapon6-damage {position: absolute;top: 134px;left: 214px;width: 54px;text-align:center}
			.field-weapon7-damage {position: absolute;top: 152px;left: 214px;width: 54px;text-align:center}
			/*Weapon Close range*/
            .field-weapon1-close {position: absolute;top: 44px;left: 255px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon2-close {position: absolute;top: 61px;left: 265px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon3-close {position: absolute;top: 79px;left: 265px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon4-close {position: absolute;top: 97px;left: 265px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon5-close {position: absolute;top: 116px;left: 265px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon6-close {position: absolute;top: 134px;left: 265px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon7-close {position: absolute;top: 152px;left: 265px;width: 64px;height: 19px;text-align-last:center}
			/*Weapon Near range*/
            .field-weapon1-near {position: absolute;top: 44px;left: 308px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon2-near {position: absolute;top: 61px;left: 318px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon3-near {position: absolute;top: 79px;left: 318px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon4-near {position: absolute;top: 97px;left: 318px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon5-near {position: absolute;top: 116px;left: 318px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon6-near {position: absolute;top: 134px;left: 318px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon7-near {position: absolute;top: 152px;left: 318px;width: 64px;height: 19px;text-align-last:center}
			/*Weapon Far range*/
            .field-weapon1-far {position: absolute;top: 44px;left: 355px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon2-far {position: absolute;top: 61px;left: 365px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon3-far {position: absolute;top: 79px;left: 365px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon4-far {position: absolute;top: 97px;left: 365px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon5-far {position: absolute;top: 116px;left: 365px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon6-far {position: absolute;top: 134px;left: 365px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon7-far {position: absolute;top: 152px;left: 365px;width: 64px;height: 19px;text-align-last:center}
			.field-weapon-notes {position:absolute;width:300px;left:102px;top:170px}
			/*Physical Condition Monitor*/
            .container-physical-condition {position: absolute;width: 82px;height: 131px;left: 575px;top: 18px}
			.physical-1-1 {position:absolute;left:4px;top:5px}
			.physical-2-1 {position:absolute;left:30px;top:5px}
			.physical-3-1 {position:absolute;left:57px;top:5px}
			.physical-1-2 {position:absolute;left:4px;top:26px}
			.physical-2-2 {position:absolute;left:30px;top:26px}
			.physical-3-2 {position:absolute;left:57px;top:26px}
			.physical-1-3 {position:absolute;left:4px;top:47px}
			.physical-2-3 {position:absolute;left:30px;top:47px}
			.physical-3-3 {position:absolute;left:57px;top:47px}
			.physical-1-4 {position:absolute;left:4px;top:68px}
			.physical-2-4 {position:absolute;left:30px;top:68px}
			.physical-3-4 {position:absolute;left:57px;top:68px}
			.physical-stag {position:absolute;left:30px;top:88px}
			.physical-kia {position:absolute;left:30px;top:109px}
			/*Fatigue Condition Monitor*/
			.container-fatigue-condition {position: absolute;width: 82px;height: 131px;left: 575px;top: 156px}
			.fatigue-1-1 {position: absolute;left: 4px;top: 5px}
			.fatigue-2-1 {position:absolute;left:30px;top:5px}
			.fatigue-3-1 {position:absolute;left:57px;top:5px}
			.fatigue-1-2 {position:absolute;left:4px;top:26px}
			.fatigue-2-2 {position:absolute;left:30px;top:26px}
			.fatigue-3-2 {position:absolute;left:57px;top:26px}
			.fatigue-1-3 {position:absolute;left:4px;top:47px}
			.fatigue-2-3 {position:absolute;left:30px;top:47px}
			.fatigue-3-3 {position:absolute;left:57px;top:47px}
			.fatigue-1-4 {position:absolute;left:4px;top:68px}
			.fatigue-2-4 {position:absolute;left:30px;top:68px}
			.fatigue-3-4 {position:absolute;left:57px;top:68px}
			.fatigue-stag {position:absolute;left:30px;top:88px}
			.fatigue-ko {position:absolute;left:30px;top:109px}	
		    /*Armor*/
			.field-armor1 {position:absolute;width:168px;left:67px;top:220px}
			.field-armor2 {position:absolute;width:168px;left:67px;top:240px}
			.field-armor3 {position:absolute;width:168px;left:67px;top:259px}
            /*Armor Monitor*/
			.container-armor {position: absolute;width: 123px;height: 43px;left: 248px;top: 236px}
			.check-armor-1 {position:absolute;left:3px;top:3px}
			.check-armor-2 {position:absolute;left:27px;top:3px}
			.check-armor-3 {position:absolute;left:51px;top:3px}
			.check-armor-4 {position:absolute;left:75px;top:3px}
			.check-armor-5 {position:absolute;left:99px;top:3px}
			.check-armor-6 {position:absolute;left:3px;top:22px}
			.check-armor-7 {position:absolute;left:27px;top:22px}
			.check-armor-8 {position:absolute;left:51px;top:22px}
			.check-armor-9 {position:absolute;left:75px;top:22px}
			.check-armor-10 {position:absolute;left:99px;top:22px}


